---
import Layout from "@layouts/Layout.astro";
import Title from "@components/Title.astro";
import Subtitle from "@components/Subtitle.astro";
import Divider from "@components/Divider.astro";
---

<Layout title="Ad Astro">
  <Title text="Ad Astro" />
  <Subtitle text="A developer's blog for the Astro framework 🚀" />
  <Divider />
  <p>
    Welcome to Ad Astro, the celestial realm of a developer's journey through
    the wonders of the Astro framework! Dive into a universe where static site
    generation (SSG) meets server-side rendering (SSR), crafting a seamless
    symphony for unparalleled web experiences. As you traverse this cosmic blog,
    you'll discover insights, tips, and code snippets that illuminate the path
    to mastery in the art of Astro. Join the adventure, and let's propel your
    development endeavors to new heights among the stars!
  </p>
</Layout>
