---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<a href=`/blog/${post.slug}`>
  <article
    class="group border border-zinc-300 hover:border-zinc-900 hover:bg-zinc-900 rounded-xl px-10 pt-10 pb-4 duration-100"
  >
    <h2
      class="group-hover:text-zinc-50 text-2xl text-zinc-900 mb-4 font-semibold inline-block duration-100"
    >
      {post.data.title}
    </h2>
    <p
      class="group-hover:text-zinc-400 text-zinc-500 text-lg mb-9 line-clamp-2 duration-100"
    >
      {post.body}
    </p>
  </article>
</a>
